
body{
    background-color: #E5E5E5;
    font-weight: 400px;
}

.section_purple{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#BF94E8;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
}


.container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

 
.col{
    display: inline-block;
}

.link{
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;

}
@media (max-width:390px) {
    .container{
        flex-direction: column;
    }
}