.email__container{
    flex-direction: column; 
    margin-top: 71px; 
    margin-bottom: 93px;
    margin-left: 25px;
    margin-right: 25px;
}


.email__input{
    display: inline-block;
}
.email__text{
    margin-bottom: 74px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.email{
    width: 521px;
    height: 61px;
    background-color: #C4C4C4;
    border: none;
    font-family: 'Gentium Book Basic';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.subscribe{
    width: 275px;
    height: 61px;
    border: none;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Gentium Book Basic';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

@media (max-width: 390px ) {
    .email__text{
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 40px;
    }

    .email__container{
        margin-bottom: 27px;
    }

    .email{
        width: 341px;
        height: 79px;
    }
    .subscribe{
        width: 341px;
        height: 60px;
    }
}